<!DOCTYPE html>
<html lang="en">
<head>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-42077141-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-42077141-1', 'politicrowd.com'); ga('send', 'pageview'); </script>
<meta charset="utf-8">
<title>PolitiCrowd - About</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/media/css/jquery.bxslider.css" />
        <link rel="stylesheet" type="text/css" href="/static/media/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/static/media/css/css3.css" />
        <link rel="stylesheet" type="text/css" href="/static/media/css/stylish-select.css" />
        <link rel="stylesheet" type="text/css" href="/static/media/css/responsive.css" />
	    <script src="/static/media/js/validate.js"></script>
     	<script src="/static/media/bootstrap-1/js/bootstrap.min.js"></script>
     	<link rel="stylesheet" type="text/css" href="/static/media/bootstrap-1/css/bootstrap.min.css" />
     	<script src="/static/media/js/tooltip.js"></script>
        <script type="text/javascript" src="/static/media/js/html5shiv.js"></script>
        <script type="text/javascript" language="javascript" src="/static/media/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/static/media/js/jquery.bxslider.js"></script>
        <script type="text/javascript" language="javascript" src="include/js/jquery.carouFredSel-6.2.0-packed.js"></script>
        <script type="text/javascript" language="javascript" src="/static/media/js/jquery.stylish-select.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/media/js/custom-form-elements.js"></script>
		<script type="text/javascript" language="javascript" src="/static/media/js/custom.js"></script>
<link rel="shortcut icon" href="/static/media/img/favv.ico" />



</head>

<body>
<div class="comingWrapper">
<header class="brown_bg">
            <div class="wrapper"> <a href="/" id="logo"> <img src="/static/media/images/logo.png" alt=""/></a>
                <a class="mob-menu" href="#">
                    <span class="mob-open"><img src="/static/media/images/mob-menu-img.png" alt="img"></span>
                    <span class="mob-close"><img src="/static/media/images/mob-close.png" alt="img"></span>
                </a>
                <nav>
                    <ul>
                    	<li><a href="/about/">ABOUT</a></li>
                        <li><a href="/demo/politician/">POLITICIAN'S INBOX [DEMO]</a></li>
                        <li><a href="/demo/openletter/">OPENLETTER [DEMO]</a></li>
                        
                        <li class="last marg_right"><a href="#">SIGN UP 7/15!</a></li>
                        <li class="search marg_right"><a href="#"></a></li>
                    </ul>
                    <form action="#">
                        <div class="search_box">
                            <input type="text"  onfocus="if(this.value == 'Search for an OpenLetter') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search for an OpenLetter';}" value="Search for an OpenLetter"/>
                        </div>
                    </form>
                </nav>

            </div>
        </header>
<section class="coming-sec">
	<article class="coming-box">

<br/>
<h2>Mission Statement:</h2><br>
<p>
PolitiCrowd is a non-partisan, non-profit organization whose mission is to further individual engagement in government by driving transparent, democratic communication between people and the politicians that represent them.
</p><br>
<h2>Backstory:</h2><br>
 <p>
Social media and crowdsourcing have revolutionized many aspects of our life. Yet, it has yet to have a pervasive impact on the way we engage with government. Last year, President Obama held a town hall on reddit, a popular platform for crowd-sourced news, and other content. Participating users asked more than 20,000 questions, and more than 500,000 votes were cast to help prioritize questions for a response (see link <a href="http://www.reddit.com/r/IAmA/comments/z1c9z/i_am_barack_obama_president_of_the_united_states/">here</a>). 

<!--A little over a year ago, Paul Locker, a 2013 graduate from the University of San Diego, began writing the code and assembling a team of volunteers, now numbering more than 20. -->
</p><br>
<p>
It seemed odd to us that such disengagement could occur in an age of such connection.  The social media surge in the digital age has brought us closer to our friends, our families, our pets, the products we buy, new cultures, old cultures, and even people we disagree with. 
</p><br>

<p>
 
We created PolitiCrowd to harness this potential and revive the relationship between citizens, advocacy groups, politicians, and the political system. By fostering community over discord, we strive to end the alienation and promote understanding between each stakeholder in our government. 
</p><br>
<h2>How it Works:</h2><br>
<p>
PolitiCrowd’s platform acts as a forum in which political stakeholders participate in crowdsourced conversations with their government.  These conversations center on OpenLetters, user-generated letters that address policy concerns. The PolitiCrowd community joins the conversation by commenting on those OpenLetters.
</p><br>
<p>
PolitiCrowd then ranks these letters and comments based on an upvote/downvote system.  The more upvotes a letter or comment receives from the PolitiCrowd community, the higher priority it gets.  Once an OpenLetter receives a threshold number of upvotes from a given political district, PolitiCrowd prompts a participating politician to respond.  This system  allows these politicians to respond to the issues that the community as a whole considers most urgent, well-thought-out, and important. Plus, we organize user responses by voting district so each politician gets highly relevant feedback. 
</p><br>
<h2>Financing:</h2><br>
<p> 
PolitiCrowd's core values are those of openness and transparency. We believe all people should participate in our democracy without deep pockets or loads of free time, and will never charge users or politicians to create and participate fully in OpenLetters. Our revenues consist primarily of grants and donations along with paid services such as trend analyses and statistical breakdowns. We pledge to keep your data strictly confidential and that includes all fundraising activities. Revenue goes to covering operating costs, and nothing more. 

</p><br>
<p>We have 501(c)(3) nonprofit status through our fiscal sponsor, Social and Environmental Entrepreneurs. Since 1994, they have helped startup nonprofits by managing donations and paperwork in accordance with IRS guidelines. 
</p> <br>
<h2>Future:</h2><br>
<p>
We plan to launch locally in Portland, Oregon on August 4th 2013.  From there, we’ll expand to other cities and states while listening to our users and maintaining our values.  We look forward to empowering our users to effect political change in a constructive and collaborative manner.
</p>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </article>
</section>

 </div>
</body>
</html>
 

