{% extends "base.html" %}
{% block extrahead %}
<script src="/static/media/js/datepicker.js"></script>
<script src="/static/media/js/typeahead.js"></script>
<script src="/static/media/js/validate.js"></script>
<script src="js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="js/jquery-ui-1.8.custom.min.js" type="text/javascript"></script>
<link href=http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css 
	rel="stylesheet" type="text/css"/> 
	
	<style type="text/css">

label { width: 40em; float: left; }
label.error { float: none; color: #BF2623; padding-left: .5em; vertical-align: top; }
p { clear: both; }
.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }
input.error,
select.error,
textarea.error {
    border: 1px solid #BF2623;
}
</style>
	<script>
$(document).ready(function() { 
	
	var issues = [{% for issue in all %}'{{issue.rank}}| {{issue}}',{% endfor %}];
	$("#search").typeahead({source: issues, items:8})
	$("#issue").change(function(){
		if($(this).val() == 'other'){
			$("#issue").hide();
			$("#search").fadeIn('slow');
		}
		
});

});
</script>
	   <script type="text/javascript">
    jQuery(function($) {
        
        $('#dp3').datepicker();
        $('#dp4').datepicker();
        $('.typeahead').typeahead();
        
        
    });
    
    
    
    
    
    
</script>



{% endblock %}
{% block content %}
<script>
$(document).ready(function(){
	
$("#ama").validate();

$("#govid").validate();
$("#create").validate();
$("#ama").submit(function() {
	if($(this).validate().checkForm()) {
		$("#amasubmit").attr('disabled',true);
    } else {
        $('#amasubmit').attr('disabled',false);
    }
});



$("#govid").submit(function() {
	if($(this).validate().checkForm()) {
		$("#govsubmit").attr('disabled',true);
    } else {
        $('#govsubmit').attr('disabled',false);
    }
});


$("#create").submit(function() {
	if($(this).validate().checkForm()) {
		$("#pagesubmit").attr('disabled',true);
    } else {
        $('#pagesubmit').attr('disabled',false);
    }
});
});
</script>
{% if unique %}
<div id="townhall">
<form name="ama" id="ama" action="/congress/save/" class="well span6" method="post">
<legend>Hold a Town Hall Online</legend>
{% csrf_token %}
<input type="hidden" name = "unique" value="{{unique}}"/>
<p>

<div class="input-append date" id="dp3" data-date="{{now|date:'m/d/Y'}}" data-date-format="mm/dd/yyyy">
  <label>Starting</label><select name = "hour" id="hour" class="span15">
                    <option name = "6" value = "6">6 am</option>
                    <option name = "7" value = "7">7 am</option>
                    <option name = "8" value = "8">8 am</option>
                    <option name = "9" value = "9">9 am</option>
                    <option name = "10" value = "10">10 am</option>
                    <option name = "11" value = "11">11 am</option>
                    <option name = "12" value = "12">12 pm</option>
                    <option name = "13" value = "13">1 pm</option>
                    <option name = "14" value = "14">2 pm</option>
                    <option name = "15" value = "15">3 pm</option>
                    <option name = "16" value = "16">4 pm</option>
                    <option name = "17" value = "17" selected>5 pm</option>
                    <option name = "18" value = "18">6 pm</option>
                    <option name = "19" value = "19">7 pm</option>
                    <option name = "20" value = "20">8 pm</option>
                    <option name = "21" value = "21">9 pm</option>
                    <option name = "22" value = "22">10 pm</option>
                    <option name = "23" value = "23">11 pm</option>
                    <option name = "24" value = "24">12 am</option>
</select>&nbsp&nbsp 
<input class="span2" name="date" class="required" title="Please enter a valid end date" size="16" type="text" value="{{now|date:'m/d/Y'}}">
  <span class="add-on"><i class="icon-calendar"></i></span>
</div>
<br/>
<div class="input-append date" id="dp4" data-date="{{end|date:'m/d/Y'}}" data-date-format="mm/dd/yyyy">
  <label>Ending</label><select name = "end-hour" id="hour" class="span15">
                    <option name = "6" value = "6">6 am</option>
                    <option name = "7" value = "7">7 am</option>
                    <option name = "8" value = "8">8 am</option>
                    <option name = "9" value = "9">9 am</option>
                    <option name = "10" value = "10">10 am</option>
                    <option name = "11" value = "11">11 am</option>
                    <option name = "12" value = "12">12 pm</option>
                    <option name = "13" value = "13">1 pm</option>
                    <option name = "14" value = "14">2 pm</option>
                    <option name = "15" value = "15">3 pm</option>
                    <option name = "16" value = "16">4 pm</option>
                    <option name = "17" value = "17" selected>5 pm</option>
                    <option name = "18" value = "18">6 pm</option>
                    <option name = "19" value = "19">7 pm</option>
                    <option name = "20" value = "20">8 pm</option>
                    <option name = "21" value = "21">9 pm</option>
                    <option name = "22" value = "22">10 pm</option>
                    <option name = "23" value = "23">11 pm</option>
                    <option name = "24" value = "24">12 am</option>
</select>&nbsp&nbsp 
<input class="span2" name="end-date" class="required" title="Please enter a valid start date" size="16" type="text" value="{{end|date:'m/d/Y'}}">
  <span class="add-on"><i class="icon-calendar"></i></span>
</div>
<br/>
</p>
<br/>
<label>Topic</label> <input type="text" name="topic" class="span6 required" title="Please enter a topic for the townhall"></p>
<p>
<label>Give your Constituents Additional Information (Optional)</label><textarea name = "extra" class="span6" placeholder="Use this space to guide your constituents' responses." value="" rows="7" cols="50"></textarea>
</p>
<p>
<label>Do you Want to Restrict Whom can Contribute?</label>
<input type="radio" name="restrict" value="1" style="vertical-align:0px; margin:0px;" checked>&nbsp&nbsp Only my constituents<br>
<input type="radio" name="restrict" value="2" style="vertical-align:0px; margin:0px;">&nbsp&nbsp Anyone living in my state<br>
<input type="radio" name="restrict" value="4" style="vertical-align:0px; margin:0px;">&nbsp&nbsp Everyone<br/>
</p>

<p>
<label>What Form Should Responses Take?</label><br/><br/>
<input type="radio" name="type" id="discuss" value="discuss" style="vertical-align:0px; margin:0px;">&nbsp&nbsp Discussion&nbsp&nbsp&nbsp&nbsp
<input type="radio" name="type" id="debate" value="debate" style="vertical-align:0px; margin:0px;" >&nbsp&nbsp Debate (Seperate Favorable / Critical Responses)
</p><br/>

    <button type="submit" class="btn" id="amasubmit">Submit</button>
</form>
</div>
{% endif %}


{% if politician %}


<form name="ama" id="govid" action="/congress/saved/" class="well span6" method="post">
<h3>Welcome! We need help identifying your position in government.</h3>
{% csrf_token %}

<p>
<label>Title</label> <input type="text" class="required" title="What is your official title?" name = "title">
</p>
<p>
<label>First Name</label> <input type="text" class="required" title="Please type your first name" name = "first">
</p>
<p>
<label>Last Name</label> <input type="text" class="required" title="Please type your last name" name = "last">
</p>
<p>
<label>Jurisdiction</label>
<input type="radio" name="jurisdiction" class="required" title="Please help us identify your position in government" value="Local">&nbspState Representative<br/>
<input type="radio" name="jurisdiction" value="National">&nbspCongressional Representative<br/>
<br/>

    <button type="submit" class="btn" id="govsubmit">Submit</button>
</form>


{% endif %}
<script>
$(document).ready(function() {
	//$("#id_query").keyup(search_submit);
	$("#id_query").autocomplete(
	'/issuesearch/');
});

search_submit = function() {
	var query = $("#id_query").val();
	$("#search-results").load(
	"/issuesearch/?ajax&query=" + encodeURIComponent(query));
}

issue = function(title) {
	$("#issue-searcher").hide();
	$("#selected").text(title);
	$("#issue-resulting").val(title);
	$("#issue-searcher").val();
}
</script>

<script>
$(document).ready(function() { 
	
$('#target_select').change(function() {
		value = $(this).attr('value');
		
			if(value == 'state') {
			$("#legislators").text('');
			$("#state-leg").hide();
			$("#state-show").show();
			$("#congress-state").val('State');
			}
			if(value == 'federal') {
			$("#state-leg").hide();
			$("#legislators").text('');
			$("#state-show").hide();
			$("#congress-state").val('Congress');
			}
			if(value == 'politician') {
			$("#state-show").hide();
			$("#state-leg").show();
			$("#congress-state").val('Politician');
			}		
	});



$("#state-legislators").change(function(){
		if($(this).val() != ''){
			var state = $(this).val();
			$("#legislators").load("/legislators/?state="+state);

		}
		
});


});
</script>





<div id="platform" class="">
<form name="create" id="create" action="/save/" class="well span6" method = "post">
<legend>Start an OpenLetter to Government</legend><br/>
{% csrf_token %}
<p>

<label>Issue</label><span id="issue-searcher"><select name = "issue" id="issue" class="span3 required" title="Please Choose an Issue">
					<option name="choose" value="">Choose an Issue</option>
					{% for issue in issues %}
                    <option name = "{{issue}}" value = "{{issue}}">{{issue}}</option>
                    {% endfor %}
                    </select> 
<input type="text" id="search" placeholder="Type to search for issues. If no issue exists, a new one will be created." class="span6 hidden required" title="Type the name of an issue to begin searching." name="issue-search">
</span>

</p>
<p>
<label>Title</label> <input type="text" class="span6 required" placeholder="Title is restricted to 80 characters or less." maxlength="80" title="Please give your page a title" name = "question">

<label>Introduce the Topic</label><textarea class="span6 required" title="Please expand on your position" name = "extra" rows="10" cols="50"></textarea>
</p>

<p>
<label>Who are you targeting?</label><br/><br/>
<select name = "target" id="target_select" class="span3 required" title="Who are you targeting?">
					<option name="choose" value="">Choose an Option</option>
					<option name="federal" id="federal" value="federal">Congress</option>
					<option name="state" id="state" value="state">State Legislature</option>
					<option name="politician" id="politician" value="politician">Individual Politician</option>
</select> 


</p>
<br/>
<input type="hidden" name="congress" id="congress-state" value="Congress">

<div id="state-show" class="hidden">
<p>
<label for="states">State:</label> <select name = "state" id="state-list" class="required" title="Select your state">
<option name = "Choose" value = "">Select your state…</option>

<option name = "AL" value = "AL" >Alabama</option>

<option name = "AK" value = "AK" >Alaska</option>

<option name = "AZ" value = "AZ" >Arizona</option>

<option name = "AR" value = "AR" >Arkansas</option>

<option name = "CA" value = "CA" >California</option>

<option name = "CO" value = "CO" >Colorado</option>

<option name = "CT" value = "CT" >Connecticut</option>

<option name = "DE" value = "DE" >Delaware</option>

<option name = "DC" value = "DC" >District of Columbia</option>

<option name = "FL" value = "FL" >Florida</option>

<option name = "GA" value = "GA" >Georgia</option>

<option name = "HI" value = "HI" >Hawaii</option>

<option name = "ID" value = "ID" >Idaho</option>

<option name = "IL" value = "IL" >Illinois</option>

<option name = "IN" value = "IN" >Indiana</option>

<option name = "IA" value = "IA" >Iowa</option>

<option name = "KS" value = "KS" >Kansas</option>

<option name = "KY" value = "KY" >Kentucky</option>

<option name = "LA" value = "LA" >Louisiana</option>

<option name = "ME" value = "ME" >Maine</option>

<option name = "MD" value = "MD" >Maryland</option>

<option name = "MA" value = "MA" >Massachusets</option>

<option name = "MI" value = "MI" >Michigan</option>

<option name = "MN" value = "MN" >Minnesota</option>

<option name = "MS" value = "MS" >Mississippi</option>

<option name = "MO" value = "MO" >Missouri</option>

<option name = "MT" value = "MT" >Montana</option>

<option name = "NE" value = "NE" >Nebraska</option>

<option name = "NV" value = "NV" >Nevada</option>

<option name = "NH" value = "NH" >New Hampshire</option>

<option name = "NJ" value = "NJ" >New Jersey</option>

<option name = "NM" value = "NM" >New Mexico</option>

<option name = "NY" value = "NY" >New York</option>

<option name = "NC" value = "NC" >North Carolina</option>

<option name = "ND" value = "ND" >North Dakota</option>

<option name = "OH" value = "OH" >Ohio</option>

<option name = "OK" value = "OK" >Oklahoma</option>

<option name = "OR" value = "OR" >Oregon</option>

<option name = "PA" value = "PA" >Pennsylvania</option>

<option name = "RI" value = "RI" >Rhode Island</option>

<option name = "SC" value = "SC" >South Carolina</option>

<option name = "SD" value = "SD" >South Dakota</option>

<option name = "TN" value = "TN" >Tennessee</option>

<option name = "TX" value = "TX" >Texas</option>

<option name = "UT" value = "UT" >Utah</option>

<option name = "VT" value = "VT" >Vermont</option>

<option name = "VA" value = "VA" >Virginia</option>

<option name = "WA" value = "WA" >Washington</option>

<option name = "WV" value = "WV" >West Virginia</option>

<option name = "WI" value = "WI" >Wisconsin</option>

<option name = "WY" value = "WY" >Wyoming</option>

</select>
</p><br/>

</div>
<div id="state-leg" class="hidden">
<p>
<label for="states">State:</label> <select name = "state-leg" id="state-legislators" class="required" title="Select your state">
<option name = "Choose" value = "">Select your state…</option>

<option name = "AL" value = "AL" >Alabama</option>

<option name = "AK" value = "AK" >Alaska</option>

<option name = "AZ" value = "AZ" >Arizona</option>

<option name = "AR" value = "AR" >Arkansas</option>

<option name = "CA" value = "CA" >California</option>

<option name = "CO" value = "CO" >Colorado</option>

<option name = "CT" value = "CT" >Connecticut</option>

<option name = "DE" value = "DE" >Delaware</option>

<option name = "DC" value = "DC" >District of Columbia</option>

<option name = "FL" value = "FL" >Florida</option>

<option name = "GA" value = "GA" >Georgia</option>

<option name = "HI" value = "HI" >Hawaii</option>

<option name = "ID" value = "ID" >Idaho</option>

<option name = "IL" value = "IL" >Illinois</option>

<option name = "IN" value = "IN" >Indiana</option>

<option name = "IA" value = "IA" >Iowa</option>

<option name = "KS" value = "KS" >Kansas</option>

<option name = "KY" value = "KY" >Kentucky</option>

<option name = "LA" value = "LA" >Louisiana</option>

<option name = "ME" value = "ME" >Maine</option>

<option name = "MD" value = "MD" >Maryland</option>

<option name = "MA" value = "MA" >Massachusets</option>

<option name = "MI" value = "MI" >Michigan</option>

<option name = "MN" value = "MN" >Minnesota</option>

<option name = "MS" value = "MS" >Mississippi</option>

<option name = "MO" value = "MO" >Missouri</option>

<option name = "MT" value = "MT" >Montana</option>

<option name = "NE" value = "NE" >Nebraska</option>

<option name = "NV" value = "NV" >Nevada</option>

<option name = "NH" value = "NH" >New Hampshire</option>

<option name = "NJ" value = "NJ" >New Jersey</option>

<option name = "NM" value = "NM" >New Mexico</option>

<option name = "NY" value = "NY" >New York</option>

<option name = "NC" value = "NC" >North Carolina</option>

<option name = "ND" value = "ND" >North Dakota</option>

<option name = "OH" value = "OH" >Ohio</option>

<option name = "OK" value = "OK" >Oklahoma</option>

<option name = "OR" value = "OR" >Oregon</option>

<option name = "PA" value = "PA" >Pennsylvania</option>

<option name = "RI" value = "RI" >Rhode Island</option>

<option name = "SC" value = "SC" >South Carolina</option>

<option name = "SD" value = "SD" >South Dakota</option>

<option name = "TN" value = "TN" >Tennessee</option>

<option name = "TX" value = "TX" >Texas</option>

<option name = "UT" value = "UT" >Utah</option>

<option name = "VT" value = "VT" >Vermont</option>

<option name = "VA" value = "VA" >Virginia</option>

<option name = "WA" value = "WA" >Washington</option>

<option name = "WV" value = "WV" >West Virginia</option>

<option name = "WI" value = "WI" >Wisconsin</option>

<option name = "WY" value = "WY" >Wyoming</option>

</select>
</p><br/>
<!-- set up javascript preview that switches in and out. to submit different types of things -->
</div>

<div id="legislators"></div>

<br/>

<input type="hidden" name="youtube" value=""/>

    <button type="submit" class="btn" id="pagesubmit">Submit</button>
</form>
</div>

<div class="span6" id="search-results">

</div>



{% endblock %}