                            
                                {% for open_letter in open_letters %}
                                {% if forloop.first %}
                                <li class="first">
                                       <div class="arrows">
                                       <a onClick="upvote('{{open_letter.open_letter.slug}}')" id="arrowup_{{open_letter.open_letter.slug}}" class="up-arrow"></a><span id="vote_count_{{open_letter.open_letter.slug}}" class="{{open_letter.open_letter.rank}}"></span> <span id="show_vote_{{open_letter.open_letter.slug}}" class="count">{{open_letter.open_letter.rank}}</span> <a onClick="downvote('{{open_letter.open_letter.slug}}')" id="arrowdown_{{open_letter.open_letter.slug}}" class="down-arrow"></a>
                                        
                                    </div>
                                    <span class="img-sec"><img alt="img" src="/static/media/images/open-img.jpg"></span>
                                    <div class="open-txt">
                                        <a href="/openletters/{{open_letter.open_letter.slug}}">{{open_letter.open_letter.title}}</a>
                                        <ul>
                                            <li class="first"><a href="#"><label>{{open_letter.open_letter.contributors.count}}</label> contributors</a></li>
                                            <li class="last"><a href="#"> <label>{{open_letter.upvotes}}</label> constituents request a response</a></li>
                                        </ul>
                                    </div>
                                    
                                </li>
                                {% else %}
                                
                                <li>
                                    <div class="arrows">
                                        <a href="#" class="up-arrow"></a>
                                        <span>{{open_letter.open_letter.rank}}</span>
                                        <a href="#" class="down-arrow"></a>
                                    </div>
                                    <span class="img-sec"><img alt="img" src="/static/media/images/open-img.jpg"></span>
                                    <div class="open-txt">
                                        <a href="/openletters/{{open_letter.open_letter.slug}}">{{open_letter.open_letter.title}}</a> 
                                        <ul>
                                            <li class="first"><a href="#"><label>{{open_letter.open_letter.contributors.count}}</label> contributors</a></li>
                                            <li class="last"><a href="#"> <label>{{open_letter.upvotes}}</label> constituents request a response</a></li>
                                        </ul>
                                    </div>
                                </li>
                               
                                
                               
                                {% endif %}
                                
                             
                                 {% endfor %}
                                
                               <ul class="pagination">
                                <span class="step-links">
        
            
       
<li> <a id="next" class="cursor" onClick="next()">next</a></li>
        <li><a><span class="current">
            Page {{ open_letters.number }} of {{ open_letters.paginator.num_pages }}
        </span></a>
        </li>
			<li><a id="previous" class="cursor" onClick="previous()">previous</a></li>
        
        
        <br/><br/>
    </span>

                            </ul>

                                
                                