{% extends 'base.html' %}
{% block title %}My Politics - PolitiCrowd.com {% endblock %}

{% block head %}
<script src="/static/media/js/validate.js"></script>
<style type="text/css">

label { width: 40em; float: left; }
label.error { float: none; color: #BF2623; padding-left: .5em; vertical-align: top; }
p { clear: both; }
.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }
input.error,
select.error,
textarea.error {
    border: 1px solid #BF2623;
}
</style>
        <script type="text/javascript">
        
         $(document).ready(function(e) {
         	$("#beta").click(function(){
         		var _popover;
      _popover = $("#beta").popover({
        trigger: "manual",
        placement: "top",
        content: "Additional states will become available after the the Portland launch.",
        template: "<div class=\"popover\"><div class=\"arrow\"></div><div class=\"popover-inner\"><div class=\"popover-content\"><p></p></div></div></div>"
      });
      _popover.data("popover").options.content = "Additional states will become available after the the Portland launch.";
      return $("#beta").popover("toggle");

         	
         	});
         	
         	$("#beta1").click(function(){
         		var _popover;
      _popover = $("#beta1").popover({
        trigger: "manual",
        placement: "top",
        content: "Additional states will become available after the the Portland launch.",
        template: "<div class=\"popover\"><div class=\"arrow\"></div><div class=\"popover-inner\"><div class=\"popover-content\"><p></p></div></div></div>"
      });
      _popover.data("popover").options.content = "Additional states will become available after the the Portland launch.";
      return $("#beta1").popover("toggle");

         	
         	});
         	

         	
         	$('.open-head ul li a').click(function(){
		$('.open-head ul li').removeClass('active');
		$(this).parent('li').addClass('active');
		var target = $(this).text();
		if (target == 'State+Local')
			{
			    target = 'State';
			}
		$('#open-letter-box').load('/load/my_politics_letters/?target='+target+'');
		return false;
	});
	            	$("#next").click(function(){
            		$("#open-letter-box").load('/load/my_politics_letters/?page={{ open_letters.next_page_number }}');
            		return false;
            	});
            	
            	$("#previous").click(function(){
            		$("#open-letter-box").load('/load/my_politics_letters/?page={{ open_letters.previous_page_number }}');
            		return false;
            	});

        	
		{% if new_user %}		
      var _popover;
      _popover = $("#newuser").popover({
        trigger: "manual",
        placement: "top",
        content: "Thank you for registering!",
        template: "<div class=\"popover\"><div class=\"arrow\"></div><div class=\"popover-inner\"><div class=\"popover-content\"><p></p></div></div></div>"
      });
      _popover.data("popover").options.content = "We found 3 politicians! To add your state and local politicians, click 'Edit your profile'.";
      return $("#newuser").popover("show");
      {% endif %}
    });

        
        
        	function IsEmail(email) {
  				var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
 				return regex.test(email);
				}
            $(document).ready(function(e) {
            	$('#my-dropdown1').val('{{public_id.state}}');
                $('.bxslider7').bxSlider({
                    auto: false,
                    slideWidth:200,
                    slideMargin:60,
                    minSlides:1,
                    maxSlides: 3
                });
                 $('.bxslider8').bxSlider({
                    auto: false,
                    slideWidth:200,
                    slideMargin:60,
                    minSlides:1,
                    maxSlides: 3
                });
				
				$(function(){
					$('.my-dropdown1').sSelect();
				});
				
				$("#address-form").validate();
				$("#info-form").validate(function(){
					var email = $("#email").val();
					if (isEmail(email) == 'False'){
						$("#emaillabel").addClass('error');
						
					return false;
					}
				});
				
				$('.tabSec .loginDetail').eq(1).show();
				$('.tabSec:first').addClass('active');
				$('.tabSec ul li a').click(function(){
					$('.tabSec ul li').removeClass('active');
					$(this).parent().addClass('active');
					var currentTab = $(this).attr('href');
					$('.tabSec .loginDetail').hide();
					$(currentTab).show();
					return false;
				});
				$('.profile-information li#last a').click(function(){
					$('.editoverlay').fadeIn(500);
					$('.edit-popup').fadeIn(500);
					return false;
				});
				$('.editoverlay, .edit-close').click(function(){
					$('.editoverlay').fadeOut(500);
					$('.edit-popup').fadeOut(500);
					return false;
				});
				
				{% if error == 'address' %}
				$('.editoverlay').show();
				$('.edit-popup').show();
				{% endif %}
					
				
            });

            if ((navigator.userAgent.match(/Android/i)) || (navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)) ) {
                $(document).ready(function(e) {
                    $('.bx-prev, .bx-next').hide();
		
                    $('.bxslider7').bxSlider({
                        auto: false,
                        slideWidth:200,
                        slideMargin:60,
                        minSlides:1,
                        maxSlides: 1
                    });
                     $('.bxslider8').bxSlider({
                        auto: false,
                        slideWidth:200,
                        slideMargin:60,
                        minSlides:1,
                        maxSlides: 1
                    });
		
                    $('.issues-list li').hide();
                    $('.issues-list li.bold').show();
                    $('.issues-list li.bold').click(function(){
                        $(this).siblings('li').toggle();
                    });
                });	
            }

            if ((navigator.userAgent.match(/iPad/i))) {
                $(document).ready(function(e) {
                    $('.bx-prev, .bx-next').hide();
                    /*$('.headPolitician a.bx-prev, .headPolitician a.bx-next').show();*/
                    $('.bxslider7').bxSlider({
                        auto: true,
                        slideWidth:200,
                        slideMargin:60,
                        minSlides:2,
                        maxSlides: 2
                    });
                     $('.bxslider8').bxSlider({
                        auto: true,
                        slideWidth:200,
                        slideMargin:60,
                        minSlides:2,
                        maxSlides: 2
                    });
		
		
                    $('.issues-list li').hide();
                    $('.issues-list li.bold').show();
                    $('.issues-list li.bold').click(function(){
                        $(this).siblings('li').toggle();
                    });
                });
            }



        </script>
{% endblock %}
{% block body %}

        
<div class="edit-popupContainer">
        <div class="toppolitician light_bg politic">
            <div class="wrapper"> 
                <!-- Politician Page 1st Row start here -->
                <div class="turnPaperTop politic">
                    <h1 id="newuser">{% if new_user %}Thanks for signing up!{% else %}Hello, {{my_politics.user.first_name|capfirst}}{% endif %}</h1>
                    <ul class="profile-information">
                        <li>Joined {{my_politics.user.date_joined|date:"N Y"}}</li>
                        <li id="last"><a href="#" class="active">Edit your profile</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Politician Page 2nd Row start here -->
        <section class="congressPolitician light_brown_bg">
            <div class="wrapper"> 
                <!-- Main container for Left Bar and Slider -->
                <div class="politicianSection">
                    <div class="leftBar"> <span class="search101">Following {{following_count}} Politicians</span>                     
                        <div class="leftsearch_box">
                            <input type="text" value="Search Politicians"/>
                        </div>
                        <div class="searchLeft">
                            <!--                            <h3>congress <br/>
                                                            (500)</h3>-->
                            <div class="mgnifire politic congressDrop_right mgnifire1">
                                <h3 class="politic"><small class="first">My Politicians</small><small id="poli-count">({{my_politics.my_politicians.count}})</small></h3>
                                <div class="dropPanel1profile">
                                    <ul class="contentDrop">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Congress</a></li>
                                        <li><a href="#">State Legislature</a></li>
                                        <li><a href="#">My Politicians</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id="OR" class="congressDrop_right mgnifire state"> <a id="beta" href="#"  class=""><img src="/static/media/images/heart_img.png" alt=""/></a>
                                
                                <div class="dropPanel poli noshow">
                                    <ul class="contentDrop">
                                        <li><a class="CA" href="#">California</a></li>
                                        <li><a class="OR" href="#">Oregon</a></li>
                                        <li><a class="WA" href="#">Washington</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="tagsArea noshow">
                            <h5>Hot Tags:</h5>
                            <h4>Mollis Bibendum, Parturient, Elit Dolor,
                                Sit Tellus, Inceptos</h4>
                        </div>
                    </div>
                    <div class="open-head poliLink">                  
                    <ul>
                        <li class="active"><a href="#">Congress</a></li>
                        <li><a href="#">State Legislature</a></li>
                        <li class="last"><a href="#">My politicians</a></li>
                    </ul>
                	</div>
                    <div class="most-target politics">
                        <a class="target-link noshow" href="#">Most targeted</a>
                        <ul class="target-drop politics">
                            <li><a href="#">Most active</a></li>
                            <li><a href="#">Most targeted</a></li>
                            <li><a href="#">My politicians</a></li>
                        </ul>                   
                    </div>

                    <!-- Slider area -->
          
                    
                    
                    
                    <div class="activePolitician1">
						
                        <ul class="bxslider7">
                            {% for politician in my_politics.my_politicians.all %}
                            <li {% if forloop.counter|divisibleby:3 %}class="last"{% endif %}>
                                <figure class="img1">

                                     <a class="circular-img" href="/politicians/{{politician.unique}}">{% if politician.jurisdiction == 'federal' %} <img height="158" width="158" src="/static/media/politicians/oregon/{{politician.unique}}.jpg" onError="this.onerror=null;this.src='/static/media/images/info.png';" alt=""> {% else %} <img height="158" width="158" src="/static/media/politicians/oregon/{{politician.unique}}.jpg" onError="this.onerror=null;this.src='/static/media/images/info.png';" alt=""> {% endif %}<small class="hover_effect"></small>
                                     <em class="arrow"></em>
                                     </a>
                                     
                                    
                                    <em class="pol-shadow"></em>
                                </figure>
                                <section class="politic_des">
                                   <h3>{% if politician.jurisdiction == 'federal' %}U.S.{% else %}{% if politician.jurisdiction == 'state' %}State{% endif %}{% endif %} {{politician.title}} [{% if politician.jurisdiction == 'state' %}{% if politician.party == 'Republican' %}R{% else %}{% if politician.party == 'Democratic' %}D{% endif %}{% endif %}{% else %}{{politician.party}}{% endif %}] <br>
                                {{politician.first}} {{politician.last}}</h3>
                            <h5>{% if politician.title == 'Sen' %}{% if politician.jurisdiction == 'state' %}District {{politician.district}}, {% endif %}{% else %}District {{politician.district}}, {% endif %}{% if politician.state == 'OR' %}Oregon {% else %}{{politician.state}}{% endif %} </h5>
                            <figure class="mail">{{politician.request_count}}</figure>
                            <figure class="openMail">{{politician.response_count}}</figure>
                                </section>
                            </li>
                            {% endfor %}
                            
                        </ul>
                            

                    </div>
                </div>
            </div>
        </section>
                <section class="congressPolitician light_brown_bg">
            <div class="wrapper"> 
                <!-- Main container for Left Bar and Slider -->
                <div class="politicianSection">
                    <div class="leftBar">                      
                        <div class="leftsearch_box">
                            <input type="text" value="Search Politicians"/>
                        </div>
                        <div class="searchLeft">
                            <!--                            <h3>congress <br/>
                                                            (500)</h3>-->
                            <div class="mgnifire politic congressDrop_right mgnifire1"> 
                            
                                <h3 class="politic"><small class="first">Following</small><small id="poli-count">({{my_politics.politicians.count}})</small><small id="poli-count">Politicians</small></h3>
                                <div class="dropPanel1profile">
                                    <ul class="contentDrop">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Congress</a></li>
                                        <li><a href="#">State Legislature</a></li>
                                        <li><a href="#">My Politicians</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id="OR" class="congressDrop_right mgnifire state"> <a id="beta1" href="#"  class=""><img src="/static/media/images/heart_img.png" alt=""/></a>
                                
                                <div class="dropPanel poli noshow">
                                    <ul class="contentDrop">
                                        <li><a class="CA" href="#">California</a></li>
                                        <li><a class="OR" href="#">Oregon</a></li>
                                        <li><a class="WA" href="#">Washington</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="tagsArea noshow">
                            <h5>Hot Tags:</h5>
                            <h4>Mollis Bibendum, Parturient, Elit Dolor,
                                Sit Tellus, Inceptos</h4>
                        </div>
                    </div>
                    <div class="open-head poliLink">                  
                    <ul>
                        <li class="active"><a href="#">Congress</a></li>
                        <li><a href="#">State Legislature</a></li>
                        <li class="last"><a href="#">My politicians</a></li>
                    </ul>
                	</div>
                    <div class="most-target politics">
                        <a class="target-link noshow" href="#">Most targeted</a>
                        <ul class="target-drop politics">
                            <li><a href="#">Most active</a></li>
                            <li><a href="#">Most targeted</a></li>
                            <li><a href="#">My politicians</a></li>
                        </ul>                   
                    </div>

                    <!-- Slider area -->
          
                    
                    
                    
                    <div class="activePolitician1">
						
                        <ul class="bxslider8">
                            {% for politician in my_politics.politicians.all %}
                            <li {% if forloop.counter|divisibleby:3 %}class="last"{% endif %}>
                                <figure class="img1">

                                     <a class="circular-img" href="/politicians/{{politician.unique}}">{% if politician.jurisdiction == 'federal' %} <img height="158" width="158" src="/static/media/politicians/oregon/{{politician.unique}}.jpg" onError="this.onerror=null;this.src='/static/media/images/info.png';" alt=""> {% else %} <img height="158" width="158" src="/static/media/politicians/oregon/{{politician.unique}}.jpg" onError="this.onerror=null;this.src='/static/media/images/info.png';" alt=""> {% endif %}<small class="hover_effect"></small>
                                     <em class="arrow"></em>
                                     </a>
                                     
                                    
                                    <em class="pol-shadow"></em>
                                </figure>
                                <section class="politic_des">
                                   <h3>{% if politician.jurisdiction == 'federal' %}U.S.{% else %}{% if politician.jurisdiction == 'state' %}State{% endif %}{% endif %} {{politician.title}} [{% if politician.jurisdiction == 'state' %}{% if politician.party == 'Republican' %}R{% else %}{% if politician.party == 'Democratic' %}D{% endif %}{% endif %}{% else %}{{politician.party}}{% endif %}] <br>
                                {{politician.first}} {{politician.last}}</h3>
                            <h5>{% if politician.title == 'Sen' %}{% if politician.jurisdiction == 'state' %}District {{politician.district}}, {% endif %}{% else %}District {{politician.district}}, {% endif %}{% if politician.state == 'OR' %}Oregon {% else %}{{politician.state}}{% endif %} </h5>
                            <figure class="mail">{{politician.request_count}}</figure>
                            <figure class="openMail">{{politician.response_count}}</figure>
                                </section>
                            </li>
                            {% endfor %}
                            
                        </ul>
                            

                    </div>
                </div>
            </div>
        </section>
        <!-- Demo Section Start Here--> 

        <!--3rd Row start here with slider-->
        <section id="my-politics" class="congressPolitician light_bg profile">
            <div class="wrapper"> 
                <!-- Main container for Left Bar and Slider -->
                <div class="open-head profile">                    
                   {% if my_politics.open_letters.all %} <h3>OpenLetters I'm following :</h3>
                    <ul>
                        <li class="first active"><a href="#">All</a></li>
                        <li><a href="#">Congress</a></li>
                        <li><a href="#">State Legislature</a></li>
                        <!--<li><a href="#">Local</a></li> -->                    
                        <li class="last"><a href="#">Submissions</a></li>
                    </ul>
                </div>
                <div class="issues-sec profile">
                    <section class="issue-left-sec">
                        <ul class="issues-list">
                            <li class="bold active"><a href="#"><span>All Issues</span><small> ({{my_politics.open_letters.count}})</small></a></li>
                            {% for issue in issues %}
                            <li><a class="{{issue.issue.title}}" href="#"><span>{{ issue.issue.title}} </span><small>({{issue.dcount}})</small></a></li>
                            {% endfor %}
                        </ul>

                    </section>
                    <div class="open-box">
                        <div class="open-data">
                            <!--                            <a class="toptxt" href="#">Controversial</a>-->
                            <div class="most-target politics">
                                <a class="target-link" href="#">Controversial</a>
                                <ul class="target-drop politics">
                                    <li><a href="#">Top</a></li>
                                    <li><a href="#">New</a></li>
                                    <li><a href="#">Trending</a></li>
                                    <li><a href="#">Controversial</a></li>
                                </ul>                   
                            </div>
                            <ul id="open-letter-box" class="open-listing">
                            
                            {% for open_letter in my_politics.open_letters.all %}
                                {% if forloop.first %}
                                <li class="first">
                                       <div class="arrows">
                                        <a href="#" class="up-arrow"></a>
                                        <span>{{open_letter.rank}}</span>
                                        <a href="#" class="down-arrow"></a>
                                    </div>
                                    <span class="img-sec"><img alt="img" src="/static/media/images/open-img.jpg"></span>
                                    <div class="open-txt">
                                        <a href="/openletters/{{open_letter.slug}}">{{open_letter.title}}</a>
                                        <ul>
{% if letter.responses %}<li><a href="#">Responses: {{open_letter.responses}}</a></li>{% endif %}
                                    <li><a href="#">Requested politicians: {{open_letter.request_set.all.count}}</a></li>
                                    <li class="last"><a href="#">Contributors: {{open_letter.contributors.all.count}} </a></li>
                                        </ul>
                                    </div>
                                    
                                </li>
                                {% else %}
                                
                                <li>
                                    <div class="arrows">
                                        <a href="#" class="up-arrow"></a>
                                        <span>{{open_letter.rank}}</span>
                                        <a href="#" class="down-arrow"></a>
                                    </div>
                                    <span class="img-sec"><img alt="img" src="/static/media/images/open-img.jpg"></span>
                                    <div class="open-txt">
                                        <a href="/openletters/{{open_letter.slug}}">{{open_letter.title}}</a>
                                        <ul>
{% if letter.responses %}<li><a href="#">Responses: {{open_letter.responses}}</a></li>{% endif %}
                                    <li><a href="#">Requested politicians: {{open_letter.request_set.all.count}}</a></li>
                                    <li class="last"><a href="#">Contributors: {{open_letter.contributors.all.count}} </a></li>
                                        </ul>
                                    </div>
                                </li>
                               
                                
                               
                                {% endif %}
                                
                             
                                 {% endfor %}
                                
							<ul class="pagination">
                                <span class="step-links">
        
            
       
<li> <a id="next" href="#">next</a></li>
        <li><a><span class="current">
            Page {{ open_letters.number }} of {{ open_letters.paginator.num_pages }}
        </span></a>
        </li>
			<li><a id="previous" href="#">previous</a></li>
        
          
        <br/><br/>
    </span>

                            </ul>
                            </ul>
                            
                        </div>
                        <small class="position-arrow"></small>
                    </div>
                    <div class="searchbox">
                        <form action="" method="post" autocomplete="on">
                            <input type="text" onfocus="if(this.value == 'Find Openletters') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Find Openletters';}" value="Find Openletters" class="field">
                            <input type="submit" class="button">
                        </form>
                    </div>
                    {% else %}
                    <h3>Nothing to see here, yet. <br>Follow the OpenLetters you want to stay updated on or submit an OpenLetter to get started.</h3>
                    {% endif %}
                </div>
            </div>
        </section>
       <div class="editoverlay"></div>
      <div class="edit-popup">
      	<div class="wrapper">
        	{% if error == 'address' %}{% else %}<a class="edit-close" href="#"><img src="/static/media/images/edit-close.png" alt="img"></a>{% endif %}
        	<article class="signLeft">
                    <h2 class="signHead">Edit Account Details</h2>
                    <strong class="back">Update Information</strong>
                    <form method="POST" id="info-form" action="/update_profile/">
                    {% csrf_token %}
                        <ul class="loginDetail">
                            <li>
                                <label id="emaillabel">Email</label>
                                <input type="email" id="email" class="required" title="Please enter a valid email" name="email" value="{{user.username}}"/>
                            </li>
                            <li>
                                <label>Change Password </label>
                                <input type="password" name="password1" value=""/>
                            </li>
                            <li>
                                <label>Confirm New Password</label>
                                <input type="password" name="password2" value=""/>
                            </li>
                            
                        </ul>
                        <input type="submit" class="save left" value="Save" name=""> 
                    </form>
                </article>
                <div class="signupLeft">
                        <h2 class="signHead">{% if error == 'address' %}Something went wrong! Please re-enter your address. {% else %}Edit Resident Location{% endif %}</h2>
                        <article class="tabSec">
                           <strong class="back">Update Address</strong>
                            <form method="POST" id="address-form" action="/update_location/">
                            {% csrf_token %}
                                <ul class="loginDetail sign" id="sign1">
                                    <li>
                                        <label>Address</label>
                                        <input type="text" name="address" class="required" title="Please enter your address" value="{{location.address}}"/>
                                    </li>
                                      <li>
                                        <label>Address (line 2)</label>
                                        <input type="text" name="address2" />
                                    </li>
                                    <li>
                                        <label>City </label>
                                        <input type="text" name="city" class="required" title="Please enter your city" value="{{public_id.city}}"/>
                                    </li>
                                    <li>
                                        <label>State</label>
                                        <div class="selectbox1">   
                                            <input type="hidden" name="state" value="OR">
                                            	<div id="OR">                                             	</div>
                                            	
                                        </div>
                                    </li>
                                </ul>
                                
                                
                            	<input type="submit" class="save" value="Save" name=""> 
                            </form>
                        </article>
                        
                            
                        
                    </div>
        </div>
      </div>  
</div>
{% endblock %}
