{% extends 'base.html' %}
{% block title %}Privacy Policy - PolitiCrowd.com {% endblock %}

{% block body %}
<div class="text">
<h1>While transparency in government is our main goal, your privacy is a core PolitiCrowd value. We strive to create a policy worthy of you.</h1><br>
<br>
<p>We take protecting your privacy seriously, and we want you to understand exactly how and why we use your information. This document is our Privacy Policy, which describes what information we collect and what it's used for. It applies to all interactions with politicrowd.com.Please read this Privacy Policy carefully. Your use of and/or registration with PolitiCrowd will constitute your agreement to our policy. If you cannot agree to the terms and conditions set forth below, please do not use our services. Additionally, our Privacy Policy is part of our <a href="/useragreement/">User Agreement</a>, and by using the site you agree to both.
</p><br><hr>
<h2>About this policy
</h2><br>

<p>PolitiCrowd is an open platform that allows you to communicate about any political interest you have. We collect some information in order for you to have an account you can use to participate on the site, and other information that is necessary to make the service work. Our goal in developing our privacy practices is to allow your participation to remain as anonymous as you choose and we don’t sell or profit from the information you share with us.
</p><br>
<p>We do take efforts to make sure the platform keeps working. This includes using your information, where necessary, to stop spam and other activities that violate the user agreement. We also share your information when we are legally required to do so. Please read this privacy policy carefully. It describes what information we collect, how it is used, and when it is shared so you can make smart decisions about how you use PolitiCrowd! We think it strikes a good balance and respects you – our users – who make this whole thing possible. Let us know what you think.
</p><br><hr>
<h2>What information we collect
</h2><br>

<h3>Registration Information
</h3><br>

<p>When you create an account, you are required to provide a name email, password, and zip code. Optionally, you may provide your address for additional levels of engagement with local politicians. We also log, and retain indefinitely, the IP address from which the account is initially created.</p><br><h3>OpenLetters and Comments
</h3><br>

<p>The OpenLetters and comments you write on PolitiCrowd are not private. This means that, by default, they are not deleted from our servers – ever – and will still be accessible after your account is deleted. However, we only save the most recent version of comments and posts, so your previous edits, once overwritten, are no longer available.
</p><br>

<h3>Other information related to your account
</h3><br>

<p>As you interact with PolitiCrowd as an accountholder, we save certain information about these interactions and your preferences: subscriptions, voting data, and date of last login.
</p><br>
<hr>
<h2>How we use or disclose collected information
</h2><br>
<h3>Our use of your information is limited to improving your experience</h3><br>
<p>Your information is used internally only where necessary to provide our services. For instance, we keep IP addresses for 90 days in order to investigate issues with our site, track and block suspected spammers, and otherwise maintain the integrity of the community.
</p><br>
<h3>Your private information is never for sale
</h3><br>

<p>This means that we will only share your personal data with your consent, and after letting you know what information will be shared and with whom, unless it is otherwise permitted in this policy. Your location information (Zip code or address), is shared with the Sunlight Foundation’s “Open Congress” and “OpenStates” API in order to determine who your elected politicians are. For more information about the Sunlight Foundation’s Privacy Policy, please visit the <a href="http://sunlightfoundation.com/legal/privacy/">Sunlight Foundation</a>.  For more information about the “Open Congress” privacy policy, please visit <a href="http://www.opencongress.org/about/privacy_policy">Open Congress</a>.
</p><br>
<p>Anonymous, aggregated information that cannot be linked back to an individual user will be made available to third parties (ex: what does the distribution of votes on an OpenLetter look like for residents of district 1 vs. district 3).
</p><br>
<h3>
PolitiCrowd will not disclose your personal information unless required by law.
</h3><br>

<p>We may disclose – or preserve for future disclosure – your information if we believe, after due consideration, that doing so is reasonably necessary to comply with a law, regulation, or valid legal process. If we are going to release your information, we will do our best to provide you with notice in advance via PolitiCrowd’s email system unless we are prohibited by court order from doing so (e.g., an order under 18 U.S.C. § 2705(b)).
</p><br>
<h3>Your information may be disclosed by us in an emergency or to keep our services running.
</h3><br>
<p>Other extraordinary circumstances may require disclosure: we may also disclose your information when we believe it's necessary to prevent imminent and serious bodily harm to a person; to address fraud, security, or spam; or to protect our rights or property.
</p><br>

<hr>
<h2>Cookie policy
</h2><br>
<p>Cookies are small data files placed on your computer by websites you visit in order to help them remember certain information about you. At PolitiCrowd, we set only a few cookies for tracking user preferences, authentication, and collecting anonymous analytics data. Each of these uses is described in greater detail below.
</p><br>
<h3>Authentication cookies
</h3><br><p>When you log into your account, PolitiCrowd will place a cookie for the sole purpose of creating this session. It contains your user name and hashed authentication information.</p><br><h3>Analytics cookies</h3><br>
<p>We use a tool called Google Analytics to help us understand how users interact with our website. It tells us aggregate usage and traffic information, such as how the site was accessed, how long visitors stayed, and the number of first-time visitors to the site. By knowing how people use the site, we can make it better. To learn more about Google Analytics and how it uses your data, please visit their <a href="http://www.google.com/analytics/learn/privacy.html">privacy page</a>.
</p><br>
<h3>Disabling cookies</h3><br>
<p>Most browsers include an option to clear existing cookies or reject new ones. However, if you do this, portions of the PolitiCrowd website may not function as intended.</p>
<br><hr>
<h2>Account deletion
</h2><br>
<p>You may choose to delete your PolitiCrowd account at any time. The usernames associated with deleted accounts remain unavailable for others to use. However, the posts and content you made during your tenure as a PolitiCrowd user will not be automatically deleted as part of the account removal process, though your username will be publicly disassociated with all posts.</p><br><hr>
<h2>Data security
</h2><br>
<p>
PolitiCrowd will make every effort to secure any private information submitted to us by our users. However, no data transmission over the internet is completely secure, so we cannot guarantee the absolute security of this data. You use the service at your own risk, and are responsible for taking reasonable measures to secure your account (such as carefully maintaining the secrecy of your password).
</p><br><hr>
<h2>Children under 13
</h2><br>
<p>Although we welcome users from all walks of life, our site is not aimed at children, and the United States government has put limits on our ability to accept users under a certain age through the Children's Online Privacy Protection Act of 1998. Individuals under the age of 13 may not create an account with us. If you believe someone 12 or younger is using our site without parental consent, please contact us.
</p><br><hr>
<h2>Changes to this policy
</h2><br>
<p>We reserve the right to change this policy to meet the changing needs of PolitiCrowd, or for any other reason. If we make changes, we will notify our users. Where the changes substantially alter your rights, notice will appear prominently on your front page. More minor changes may only be highlighted by the privacy policy link in the footer of our website.
</p><br><hr>
<h2>Contact</h2><br>
<p>PolitiCrowd welcomes questions, concerns, and feedback about this policy. Please email us at feedback@politicrowd.com.
</p><br>
<p>
This Privacy Policy was adapted from the <a href="http://www.reddit.com/help/privacypolicy">reddit privacy policy</a>. 
</p><br>
</div>
{% endblock %}