{% extends "base.html" %}
{% block extrahead %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<script type="text/javascript" src="http://politicrowd.com/static/media/jquery-ui/js/jquery-ui.js"></script>
<script type="text/javascript" src="http://politicrowd.com/static/media/js/jqueryfile.js"></script>
{% endblock %}
{% block content %}
<div id="drop1"></div>
<div id="drop2"></div>
<div id="drop3"></div>
<div id="clear></div>
<div id="event"></div><br /><br />
<span id="drag">Drag me</span><br /><br />

<span class="name">Billy</span><br />
<span class="name">Paul</span><br />
<span id="fav">Favorable</span><br />
{{page.question}}
<br />
{{restrict.voter.username}}|{{restrict.favorable}}

{% endblock %}